<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>builder</servlet-name>
    <servlet-class>com.tender.ApplyBuilderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>builder</servlet-name>
    <url-pattern>/apply_builder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>status</servlet-name>
    <servlet-class>com.tender.AcceptStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>status</servlet-name>
    <url-pattern>/accept_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pwd</servlet-name>
    <servlet-class>com.tender.CreatePWDController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pwd</servlet-name>
    <url-pattern>/create_pwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.tender.DeletePWDController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete_pwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>build</servlet-name>
    <servlet-class>com.tender.BuilderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>build</servlet-name>
    <url-pattern>/apply_bid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>builder_login</servlet-name>
    <servlet-class>com.tender.BuilderLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>builder_login</servlet-name>
    <url-pattern>/builder_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pwdlogin</servlet-name>
    <servlet-class>com.tender.PWDLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pwdlogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>com.tender.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createtender</servlet-name>
    <servlet-class>com.tender.CreateTenderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createtender</servlet-name>
    <url-pattern>/createtender</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadbid</servlet-name>
    <servlet-class>com.tender.DownloadBidFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadbid</servlet-name>
    <url-pattern>/downloadBid_File</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acceptbid</servlet-name>
    <servlet-class>com.tender.AcceptBidController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptbid</servlet-name>
    <url-pattern>/accept_bid</url-pattern>
  </servlet-mapping>
</web-app>