<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />  
<property name="url" value="jdbc:mysql://localhost:3306/motivity" />  
<property name="username" value="root" />  
<property name="password" value="root" />  
</bean>

<bean id="sessionfactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
<property name="dataSource" ref="ds"></property>
<property name="mappingResources">
<list>
<value>EmployeeHBM.xml</value>
</list>
</property>
<property name="hibernateProperties">
<props>
<prop key="hibernate.dialet">org.hibernate.dialect.hsqldialect</prop>
<prop key="hibernate.hbm2ddl.auto">update</prop>
<prop key="hibernate.show_sql">true</prop>
</props>
</property>
</bean>

<bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">
<property name="sessionFactory" ref="sessionfactory"></property>
<property name="checkWriteOperations" value="false"></property>
</bean>

<bean id="dao" class="com.employee.EmployeeDao">
<property name="template" ref="template"></property>
</bean>
</beans>